.contain-fluid
  .navbar
    .navbar-header
      = link_to root_path do
        = image_tag 'logo2.png', size: '120x60', class: 'image'
    %ul.nav.justify-content-center
      %li.nav-item
        %a.nav-link.active.link Man
      %li.nav-item
        %a.nav-link.active.link Woman
      %li.nav-item
        %a.nav-link.active.link Loose
      %li.nav-item
        %a.nav-link.active.link Tight
      - if current_user
        %li.nav-item
          %a.nav-link.active
            %i.fa.fa-cart-plus.fa-lg
        %li.nav-item
          %a.nav-link.active.link= "Hi, #{current_user.username}"
        %li.nav-item
          .btn.btn-default= link_to 'å¾Œå°', admin_root_path, class: 'nav-link active link'
      - else
        = link_to 'Sign in', new_user_session_path
        = link_to 'Sign up', new_user_path
