.container.product_gallery
  - Category.all.each do |category|
    .row.category_title
      = category.title
    .row.product_index
      - category.products.each do |product|
        .col-md-3.col-sm-3
          = link_to product_path(product) do
            .image= image_tag product.main_image, class: 'image_wrapper'
            .name= product.name
            .price= "$#{product.price}"
